<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Our categories!</h2>
        <ul class="ul-all">
            <% categories.forEach(category => { %>
                <li><a href="/category/<%= category.category_id%>"><%= category.name %></a></li>
            <% }) %>
        </ul>
    </main>

    <%- include('partials/footer') %>