<%- include('partials/header') %>

    <main>
        <h1><%= title %></h1>
        <h2><%= category.category_name %></h2>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.project_name %>
                    </a>
                </li>
            <% }) %>
        </ul>
        <br>
        <p><a href="/edit-category/<%= category.category_id %>">Edit Category</a></p>
    </main>

<%- include('partials/footer') %>