<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Dashboard</h2>
    <p>Name: <%= name %></p>
    <p>Username: <%= email %></p>

    <% if (user.role_name === 'admin') { %>
        <a href="/show-users" class="btn-link">Show All Users</a>
    <% } %>

</main>

<%- include('partials/footer') %>