<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul class="list">

            <% serviceProjects.forEach(project => { %>

                <li>
                    <div class="card-info">

                        <div class="card-title">
                            <%= project.title %>
                        </div>

                        <div class="card-sub">
                            <%= project.organization_name %>
                        </div>

                        <div class="card-sub">
                            <%= project.date.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %>
                        </div>

                    </div>
                    
                </li>

            <% }) %>
            <p><a class="btn-link" href="/new-project">Add a new service project</a></p>
        </ul>
    </main>
    <%- include('partials/footer') %>