<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul class="ul-all">

            <% serviceProjects.forEach(project => { %>

                <li>
                    <%= project.date.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %>: <%= project.title %> (<%= project.organization_name %>)
                </li>

            <% }) %>
            <p><a href="/new-project">Add a new service project</a></p>
        </ul>
    </main>
    <%- include('partials/footer') %>