<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <div class="card">

            <div class="card-info">

                <div class="card-title">
                    <%= project.title %>
                </div>

                <div class="card-sub">
                    <strong>Description:</strong>
                    <%= project.description %>
                </div>

                <div class="card-sub">
                    <strong>Date:</strong>
                    <%= new Date(project.date).toLocaleDateString('en-US', { day: 'numeric' , month: 'long' ,
                        year: 'numeric' }) %>
                </div>

                <div class="card-sub">
                    <strong>Location:</strong>
                    <%= project.location %>
                </div>

                <div class="card-sub">
                    <strong>Organization:</strong>
                    <a href="/organization/<%= project.organization_id %>">
                        <%= project.organization_name %>
                    </a>
                </div>

            </div>

        </div>

        <h2>Categories</h2>

        <ul class="list">
            <% categories.forEach(category=> { %>
                <li>
                    <div class="card-info">
                        <div class="card-title">
                            <a href="/category/<%= category.category_id %>">
                                <%= category.category_name %>
                            </a>
                        </div>
                    </div>

                </li>
                <% }) %>
        </ul>

        <% if (user) { %>
            <% if (isVolunteer) { %>
                <p>You are volunteering for this project</p>
                <a class="btn-link" href="/project/<%= project.project_id %>/remove-volunteer">
                    Remove Volunteer
                </a>
            <% } else { %>
                <a class="btn-link" href="/project/<%= project.project_id %>/volunteer">
                    Volunteer for this project
                </a>
                <% } %>
        <% } %>

        <br>
        <% if (user && user.role_name==='admin' ) { %>
            <p><a class="btn-link" href="/assign-categories/<%= project.project_id %>">Edit
                Categories</a></p>
            <p><a class="btn-link" href="/edit-project/<%= project.project_id %>">Edit Project</a></p>
        <% } %>
    </main>
    <%- include('partials/footer') %>